<h1> Hello, this is Random Weather!!! </h1>
<br><br><br>
<form name="weatherForm">
  <input name="city" type="text" placeholder="Название города">
  <button type="submit">Узнать погоду в городе</button>
</form>
<br><br><br>
<div id="container">
  <button id="btn">Мне повезет!</button>
</div>
<div id="result">
</div>
